node_modules/
.next/
out/
build/
dist/
**/*.min.js
**/*.bundle.js
**/*.config.js
**/*.config.ts
next-env.d.ts
tsconfig.json
postcss.config.*
tailwind.config.*
components.json
**/.vercel/
**/.vscode/
**/coverage/
**/*.log
**/*.lock
**/*.test.js
**/*.test.ts
**/*.test.tsx
**/*.spec.js
**/*.spec.ts
**/*.spec.tsx
